/* stylelint-disable declaration-block-no-redundant-longhand-properties */
h1 {
  color: #030374;
}

.main {
  display: flex;
  justify-content: center;
}

.cal-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(153 153 153);
}

.btns-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 1px;
}

.btns-container > button {
  color: rgb(61 61 61);
  border: none;
  height: 40px;
}

.gray {
  background-color: rgb(219 216 216);
}

.orange {
  background-color: orange;
}

.inputcontainer {
  width: 97%;
  height: 40px;
  background-color: gray;
  color: #fff;
  border: none;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.big {
  grid-column-start: 1;
  grid-column-end: 3;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navlist {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 400px;
}

.link {
  color: #030374;
  text-decoration: none;
  border: 1px solid #030374;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.link:hover {
  color: #fff;
  background-color: #030374;
}
